body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

#timer {
    display: flex;
    font-size: 4em;
    font-weight: bold;
}

.time-section {
    text-align: center;
    margin: 0 10px;
}

.label {
    font-size: 0.25em;
    font-weight: normal;
}
