body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

#timer {
    font-size: 4em;
    font-weight: bold;
}

#timer span {
    padding: 0 5px;
}
